* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body_contacto {
    padding: 5px 50px;
    background-image: url(../assets/images/contactenos2.jpg);
    background-position:top;
    background-size: cover;
    background-repeat: no-repeat;

}